<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{% block title %}{% endblock %} - My Library</title>
    {% else %}
    <title>My Book Library</title>
    {% endif %}
    {% endblock %}
  </head>
  <body>
    <div class="menu" id="menu">
      <ul>
        <li><a href="/library">Library</a> </li>
        <li>Sort by:</li>
        <li><a href="/library/by-title">Title</a></li>
	<li><a href="/library/by-author">Author</a></li>
	<li><a href="/library/by-genre">Genre</a></li>
        <li><a href="/library/by-read">Read</a></li>
        <li><a href="/register">New Book</a></li>
      </ul>
    </div>          

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
