<html>
  <head>
    {% if title %}
    <title>{{ title }} - My Library</title>
    {% else %}
    <title>My Book Library</title>
    {% endif %}
  </head>
  <body>
      <div>
          <a href="/library">Library</a>
          Sort by:
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul>
              {% for message in messages %}
                <li>{{ message }} </li>
              {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </body>
</html>
