<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{% block title %}{% endblock %} - My Library</title>
    {% else %}
    <title>My Book Library</title>
    {% endif %}
    {% endblock %}
  </head>
  <body>

    <div class="navbar">
      <button class="dropbtn">Library</button>
      
      <div class="dropdown">
        <button class="dropbtn">Sort by</button>
        <div class="dropdown-content">
          <a href="/sort=Title">Title</a>
          <a href="/sort=Author">Author</a>
          <a href="/sort=Genre">Genre</a>
          <a href="/sort=Read">Read</a>
          <a href="/sort=Collection">Collection</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">List</button>
        <div class="dropdown-content">
          <a href="/list=Author">Author</a>
          <a href="/list=Genre">Genre</a>
          <a href="/list=Read">Read</a>
          <a href="/list=Collection">Collection</a>
        </div>
      </div>
      
      <button class="dropbtn">Search by</button>

      <button class="roundbtn">New Book</button>
    </div>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
