{% extends "base.html" %}
{% block title %}Saurav's Books{% endblock %}
{% block content %}

<div class="bookpage">
  <img class="bookimage" src="{{ url_for('static', filename=book_dict.get('CoverImage')) }}">
  
  <table class="booktable">
    
    {% for key, value in book_dict.items() %}
    <tr>
      <td>{{ key }}:</td>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
    
    
  </table>
</div>
    
{% endblock %}

http://127.0.0.1:5000/static//coverImages/9780965496308.jpg
http://127.0.0.1:5000/static///coverImages/9780965496308.jpg

http://127.0.0.1:5000/static//coverImages/9780965496308.jpg
