{% extends "base.html" %}
{% set active_page = "library1" %}

{% block title %}Saurav's Books{% endblock %}
{% block content %}

<div class="libpage">
  <table class="libtable" >
    <tr>
      <th width="25%"><a href="/sort=Title">Title</a></th>
      <th width="25%"><a href="/sort=Author">Author</a></th>
      <th><a href="/sort=Genre">Genre</a></th>
      <th><a href="/sort=Read">Read</a></th>
      <th><a href="/sort=Rating">Rating</a></th>
      <th><a href="/sort=Collection">Collection</a></th>
      <th><a href="/sort=Language">Language</a></th>
    </tr>
    
    {% set sort_on = request.args.sort_on | default('Author') %}
    {% for book in books %}
    <tr  class="{{ loop.cycle('odd', 'even') }}">
      <td><a href="/library/isbn={{ book.ISBN }}">{{ book.Title }}</a></td>
      <td><a href="/search?Author={{ book.Author }}"> {{ book.Author}}</a></td>
      <td><a href="/search?Genre={{ book.Genre }}">   {{ book.Genre}}</a></td>
            <td><a href="/search?Language={{ book.Language }}">   {{ book.Language }}</a></td>
      <td>{{ book.Read }}</td>
      <td>{{ book.Rating }}</td>
      <td>{{ book.Collection }} </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
