{% extends "base.html" %}
{% block title %}Saurav's Books{% endblock %}
{% block content %}
<table border="10">
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Read</th>
    <th>Rating</th>
  </tr>
        
  {% set sort_on = request.args.sort_on | default('Author_lastName') %}
  {% for book in books %}
  <tr>
    <td>{{ book.ISBN }}</td>
    <td>{{ book.Title }}</td>
    <td><a href="/by-author/{{ book.Author_lastName }}">
        {{ book.Author_firstName }} <b>{{ book.Author_lastName }}</b></a>
    </td>
    <td><a href="/by-genre/{{ book.Genre }}">
        {{ book.Genre }}</a>
    </td>
    <td>{{ book.Read }}</td>
    <td>{{ book.Rating }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
